html, body {
  margin:  0px;
  padding: 0px;
  height: 100%;
  overflow: scroll;
}

body {
  min-width: 800px;
}

header {
  height: 20px;
  padding: 5px 10px;
  color: white;
  background-color: black;
}

nav {
  height: 100%;
  border-left: 1px solid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #454544;
  overflow: auto;

  ul {
    width: 100%;
    padding: 0px;
    margin: 18px 0px 0px 0px;
    border-top: 1px solid black;

    li {
      border-bottom: 1px solid black;
      padding: 5px;

      a {
        float: right;
      }

      select {
        margin-top: 5px;
        width: 100px;
        height: 20px;
      }
    }
  }
}

.container-fluid {
  height: 100%;
  padding: 0px !important;
}

.row-fluid {
  height: 100%;
}

.dhx_cal_container {
  height: 100%;
}

.dhx_body {
  overflow: auto !important;
}

.popover {
  color: black;
}

#s2id_coursesPicker {
  width: 95%;
  margin: 18px auto 0px auto;
  display: block;
}
