@import "import/reset"

html, body
  margin:0px;
  padding:0px;
  height:100%;
  overflow:hidden

header
  height: 20px
  color: white
  background-color: black
  padding 5px 10px


.dhx_cal_container
  height 95%
  width 80%
  float left

nav
  height: 100%
  width: 19%
  padding 5px
  float right
  border-left 1px solid
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #454544
  overflow auto
  #s2id_coursesPicker
    width 200px
    margin auto
    display block
  ul
    margin-top 20px
    border-top 1px solid black
    li
      border-bottom 1px solid black
      padding 5px
      a
        float right
      select
        margin-top 5px

.dhx_body
  overflow auto !important
